@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 style="color:blue"><i>The story of Ismaeel Rahaman</i></h4>
            <p>
                Hi, this is the story of me, Ismaeel Rahaman. I am 20 years old and a second year
                BCom Informatics student. I grew up in a small area in Pretoria called Laudium.
                For my entire life I school at Pretoria Muslim Trust and there in grade 1 I met people
                who are still my friends today. A passion I developed early on was playing soccer.
                I played for a soccer club in Laudium called birds from the time I was six up until
                I was 17 years old. I still play soccer, but unfortunately not for my soccer club anymore,
                I now mainly play indoor with my friends. Another sport I also really enjoy is playing table 
                tennis. I started playing about 8 years ago in my very home and now I think I am gone fairly
                good at it, but not good enough! I hope to improve even further.
            </p>

            <div style="margin-top:20px;">
                <h4 style="color:blue"><i>How I became an informatics student</i></h4>
                <p>
                    In grade 10, I chose IT as one of my subjects and here is where I first started learning
                    scratch. Later in grade 10 we began Delphi and I found it very interesting. At the end of
                    Grade 10, I decided to choose a career path that involved coding. Initially, I wanted to computer
                    science but as time went on, I felt I was drawn more towards Informatics. Finally, I am now in
                    the second year of completing my degree :)

                </p>
            </div>
        </div>

        <div class="col-md-6">
            <h2>Me!</h2>
            
                <img src="~/Content/Picture.jpeg"/>  
            
        </div>
    </div>

</div>
